* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}
ul {
  list-style: none;
  padding: 0;
}
.country-list-elem:not(:first-child) {
  margin-top: 10px;
}

.country-list-elem {
  background-color: rgb(243, 239, 196);
  display: flex;
  gap: 10px;
  border: 1px solid tan;
  border-radius: 10px;
  padding-left: 5px;
  width: 300px;
  align-items: center;
}
img {
  display: block;
}

.country-info > div {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 300px;
}